{% extends "base/__base.html" %}
{% load staticfiles i18n leaflet_tags geojson_tags crispy_forms_tags %}

{% block title %}{{ block.super }} | {% trans 'Mission' %}{% endblock %}

{% block css-scripts %}
    {% leaflet_js %}
    {% leaflet_css %}

    <link href="{% static 'base/css/mission-alarm.css' %}" rel="stylesheet" />
{% endblock %}

{% block content %}

    <div class="row">
        <div class="col-sm-12 text-center">
            <div class="colored-container red">
                <h2>{% trans 'Mission Alarm' %}</h2>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12 text-center">
            <div class="colored-container yellow">
                <h3>{{ object.keyword }}-{{ object.volume }}-{{ object.concerned }} / {{ object.description }}</h3>
                <h3>{{ object.name }}, {{ object.street }}, {{ object.location }}</h3>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-6 text-center">
            {% leaflet_map "mapid" %}
        </div>
        <div class="col-sm-6">
            <div class="row">
                <div class="col-sm-12">
                    {% if object.signal %}
                        <div class="colored-container blue">
                            <h3>{% trans 'Signal' %}: {% trans 'yes' %}</h3>
                        </div>
                    {% else %}
                        <div class="colored-container white">
                            <h3>{% trans 'Signal' %}: {% trans 'no' %}</h3>
                        </div>
                    {% endif %}
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="colored-container gray">
                        <h3>{% trans 'Vehicles' %}:</h3>
                        <ul class="vehicle-listing">
                            {% for v in object.vehicles.all %}
                                <li>{{ v }}</li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="colored-container gray">
                        <h3>{% trans 'Notes' %}:</h3>
                        <ul class="vehicle-listing">
                            <li>{% trans 'Distance' %}: {{ distance|default:'-' }}</li>
                            <li>{% trans 'Time' %}: {{ time|default:'-' }}</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block js-scripts %}
    <script src="{% static 'base/js/map.js' %}"></script>
    <script type="text/javascript">
        var msg = '<b>{{ object }}</b><br>{{ object.street }}<br />{{ object.location }}';
        initMap('mapid', '{{ lat|stringformat:"f" }}', '{{ long|stringformat:"f" }}', msg);
    </script>
{% endblock %}
