@import "variables";

@font-face {
    font-family: 'ubuntu';
    src: url('../fonts/Ubuntu-R.ttf');
}

* {
  padding: 0;
  margin: 0;
  list-style: none;
}

body {
    background-color: $bg-color-global;
    color: $font-color-global;
    font-family: ubuntu;
    margin-bottom: 20px;
}

a {
  color: $link-color-global;
}

input[type="text"],
input[type="password"],
select {
  color: #000;
}

h2 {
    color: #FFFFFF;
    margin-top: 10px;
    margin-bottom: 4px;
}

.logo > a > img {
  height: 40px;
}

.logo > a > h2 {
  margin-left: 1em;
  display: inline-block;
}

.logo-col-highlight {
  color: $logo-color-highlight;
}

h4 > .icon {
  height: 30px;
  padding: 1px 4px 1px 0;
}

.top-bar {
  border-bottom: 1px solid #CCC;
}

.nav-pills {
  padding: 0.4em 0.2em 0 0.5em;
}

.nav-pills > li > a {
  border-radius: 2px;
  padding: 0.5em 0.9em;
  background-color: $link-color-global;
  color: #FFF;
}

.nav-pills > li > a:focus,
.nav-pills > li > a:hover {
  background-color: $link-color-highlight-global;
  color: #000;
}

.icon-bar {
  font-size: 150%;
}

.dash-tile-container {
  padding: 8px;
}

.dash-tile {
  padding: 0.7em;
  border: 1px dotted #888;
}

.content h2 {
  padding: 0.3em 0;
}

.btn-primary {
  background-color: $link-color-global;
}

.btn-primary:focus,
.btn-primary:hover {
  background-color: $link-color-highlight-global;
  color: #000;
}

/* Forms */
form {
  padding: 0.4em 0.2em;
}

.control-label {
  width: 25%;
}

.controls {
  display: inline-block;
  width: 50%;
}

.footer {
  border-top: 1px solid #CCC;
}
