/* Global styles */
@font-face {
  font-family: 'ubuntu';
  src: url("../fonts/Ubuntu-R.ttf"); }
* {
  padding: 0;
  margin: 0;
  list-style: none; }

body {
  background-color: #2E2E2E;
  color: #EBF5ED;
  font-family: ubuntu;
  margin-bottom: 20px; }

.row {
  margin: 0; }

a {
  color: #FAA40E; }

a:focus,
a:hover {
  color: #FFDEB1;
  text-decoration: none; }

input[type="text"],
input[type="password"],
select,
textarea {
  color: #000; }

h2 {
  color: #FFFFFF;
  margin-top: 10px;
  margin-bottom: 4px; }

/* Header styles */
.logo > a > img {
  height: 40px; }

.logo > a > h2 {
  margin-left: 1em;
  display: inline-block; }

.logo-col-highlight {
  color: #FAA40E; }

h4 > .icon {
  height: 30px;
  padding: 1px 4px 1px 0; }

.top-bar {
  border-bottom: 1px solid #CCC; }

.nav-pills {
  padding: 0.4em 0.2em 0 0.5em; }

.nav-pills > li > a {
  border-radius: 2px;
  padding: 0.5em 0.9em;
  background-color: #D57B00;
  color: #FFF; }

.nav-pills > li > a:focus,
.nav-pills > li > a:hover {
  background-color: #FAA40E;
  color: #000; }

.icon-bar {
  font-size: 150%; }

/* Dashboard styles */
.dash-tile-container {
  padding: 8px;
  font-size: 110%; }

.dash-tile {
  padding: 0.5em;
  border: 1px dotted #888; }

.dash-tile > h4 {
  font-size: 120%;
  padding: 0.1em 0; }

.content h2 {
  padding: 0.3em 0; }

/* List styles */
.table th {
  background-color: #EBF5ED;
  color: #000; }

.btn-primary {
  background-color: inherit;
  border: none; }

.btn-primary:focus,
.btn-primary.focus {
  background-color: inherit;
  border: none; }

.btn-primary:hover {
  background-color: inherit;
  border: none; }

.btn-primary:active,
.btn-primary.active,
.open > .dropdown-toggle.btn-primary {
  background-color: inherit;
  border: none; }

.btn-primary:active:hover,
.btn-primary.active:hover,
.open > .dropdown-toggle.btn-primary:hover,
.btn-primary:active:focus,
.btn-primary.active:focus,
.open > .dropdown-toggle.btn-primary:focus,
.btn-primary:active.focus,
.btn-primary.active.focus,
.open > .dropdown-toggle.btn-primary.focus {
  background-color: inherit;
  border: none; }

.btn-primary:focus,
.btn-primary:hover {
  background-color: inherit; }

.btn-success {
  background-color: #D57B00;
  border: none; }

.btn-success:focus,
.btn-success.focus {
  background-color: #FAA40E;
  color: #000;
  border: none; }

.btn-success:hover {
  background-color: #FAA40E;
  color: #000;
  border: none; }

.btn-success:active,
.btn-success.active,
.open > .dropdown-toggle.btn-success {
  background-color: #FAA40E;
  color: #000;
  border: none; }

.btn-success:active:hover,
.btn-success.active:hover,
.open > .dropdown-toggle.btn-success:hover,
.btn-success:active:focus,
.btn-success.active:focus,
.open > .dropdown-toggle.btn-success:focus,
.btn-success:active.focus,
.btn-success.active.focus,
.open > .dropdown-toggle.btn-success.focus {
  background-color: #FAA40E;
  color: #000;
  border: none; }

.btn-abort {
  background-color: #999;
  border: none; }

.btn-abort:focus,
.btn-abort:hover {
  background-color: #CCC;
  color: #000; }

/* Forms */
form {
  padding: 0.4em 0.2em; }

.control-label {
  width: 15%; }

.controls {
  display: inline-block;
  width: 80%; }

form input[type="text"],
form textarea {
  width: 85%; }

.leaflet-popup-content {
  color: #000; }

.footer {
  border-top: 1px solid #CCC; }

/* Responsive styles */
@media (min-width: 1200px) {
  .control-label {
    width: 10%; }

  .controls {
    width: 85%; }

  form input[type="text"],
  form textarea {
    width: 70%; } }
/* Responsive styles */
@media (max-width: 768px) {
  .control-label {
    width: 100%; }

  .controls {
    width: 100%; }

  form input[type="text"],
  form textarea {
    width: 100%; } }

/*# sourceMappingURL=base.css.map */
