{% load staticfiles i18n %}
<!DOCTYPE html>
<html lang="de">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <title>
            {% block title %}{% trans "FiT" %}{% endblock %}
        </title>

        <!-- JavaScript libraries -->
        <script src="{% static 'base/js/jquery.min.js' %}"></script>
        <script src="{% static 'base/js/bootstrap.min.js' %}"></script>

        <!-- CSS libraries -->
        <link href="{% static 'base/css/bootstrap.min.css' %}" rel="stylesheet" />
        <link href="{% static 'base/css/base.css' %}" rel="stylesheet" />

        <!-- Favicon -->
        <link rel="icon" type="image/png" href="{% static 'base/img/favicon.png' %}" />
        {% block css-scripts %}{% endblock %}
    </head>

    <body>
        <!-- Top-Bar with menu -->
        <div class="col-lg-12 top-bar">
            <div class="row">
                <div class="col-md-6 logo">
                    <a href="{% url 'dashboard' %}">
                        <img src="{% static 'base/img/fire-logo.png' %}" />
                        <h2>
                            <span class="logo-col-highlight">FiT</span>
                            <span style="font-size: 60%">
                                <span class="logo-col-highlight">Fi</span>re-<span class="logo-col-highlight">T</span>erminal
                            </span>
                        </h2>
                    </a>
                </div>
                <div class="col-md-6 text-right">
                    <h3><span id="span-date">{% now "d.n.Y - H:i:s" %}</span></h3>
                </div>
            </div>
        </div>

        <!-- Main-Content -->
        <div class="col-md-12">
            <div class="row">
                <div class="col-sm-11 col-xs-10" style="padding-left: 1px;">
                    {% block left-bar %}
                        <ul class="nav nav-pills">
                            <li role="presentation">
                                <a href="{% url 'dashboard' %}">{% trans 'Dashboard' %}</a>
                            </li>
                            <li role="presentation">
                                <a href="{% url 'mission_list' %}">{% trans 'Missions' %}</a>
                            </li>
                            <li role="presentation">
                                <a href="{% url 'bptraining_list' %}">{% trans 'Breathing Protection Trainings' %}</a>
                            </li>
                            <li role="presentation">
                                <a href="{% url 'message_list' %}">{% trans 'Messages' %}</a>
                            </li>
                            <li role="presentation">
                                <a href="{% url 'mission_alarm' %}">{% trans 'Mission-Alarm' %}</a>
                            </li>
                        </ul>
                    {% endblock %}
                </div>
                <div class="col-sm-1 col-xs-2 text-right icon-bar">
                    {% if user.is_authenticated %}
                        <a href="{% url 'logout' %}">
                            <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
                        </a>
                        <a href="{% url 'logout' %}">
                            <span class="glyphicon glyphicon-log-out" aria-hidden="true"></span>
                        </a>
                    {% else %}
                        <a href="{% url 'login' %}">
                            <span class="glyphicon glyphicon-log-in" aria-hidden="true"></span>
                        </a>
                    {% endif %}
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="content">
                        {% block content %}{% endblock %}
                    </div>
                </div>
            </div>
        </div>

        <!-- Footer -->
        <div class="col-lg-12 footer">
            <div class="row">
                <div class="col-md-12">
                    &copy; 2016 by steve
                </div>
            </div>
        </div>

        <!-- JavaScript basics -->
        {% block js-scripts %}{% endblock %}

        <script type="text/javascript">
        $(function() {
            // display clock
            setInterval(function() {
                var today = new Date();
                var text = today.toLocaleDateString() + " - " + today.toLocaleTimeString();
                $('#span-date').text(text);
            }, 1000);
        });

    </script>
    </body>
</html>
