{% extends "base/__base.html" %}
{% load staticfiles i18n %}

{% block title %}{{ block.super }} | {% trans 'Breathing Protection Training' %}{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-sm-12">
            <h2>{% trans 'Breathing Protection Trainings' %}</h2>
        </div>
    </div>

    {% if perms.base.add_breathingprotectiontraining %}
        <div class="row">
            <div class="col-sm-12">
                <a href="{% url 'bptraining_new' %}">
                    <button type="button" class="btn btn-success btn-large">
                        <span class="glyphicon glyphicon-plus"></span>
                        {% trans 'Create breathing protection training' %}
                    </button>
                </a>
            </div>
        </div>
    {% endif %}

    <div class="row">
        <div class="col-sm-12">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>{% trans 'Date' %}</th>
                        <th>{% trans 'Location' %}</th>
                        <th>{% trans 'Participants' %}</th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in object_list %}
                        <tr>
                            <td>
                                {% if perms.base.change_breathingprotectiontraining %}
                                    <a href="{% url 'bptraining_edit' item.id %}">{{ item.date|date:"d.m.Y" }}</a>
                                {% else %}
                                    {{ item.date|date:"d.m.Y" }}
                                {% endif %}
                            </td>
                            <td>{{ item.location }}</td>
                            <td>{{ item.participants.all|join:', ' }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
