{% extends "base/__base.html" %}
{% load staticfiles i18n leaflet_tags geojson_tags crispy_forms_tags %}

{% block title %}{{ block.super }} | {% trans 'Breathing Protection Training' %}{% endblock %}

{%  block css-scripts %}
    <script type="text/javascript" src="{% static 'admin/js/jsi18n.js' %}"></script>
    <script type="text/javascript" src="{% static 'admin/js/jquery.js' %}"></script>
    <script type="text/javascript" src="{% static 'admin/js/jquery.init.js' %}"></script>
{% endblock %}

{% block content %}
    {{ form.media }}
    {% crispy form %}
    <link href="{% static 'base/css/selector.css' %}" rel="stylesheet">
{% endblock %}
