{% extends "base/__base.html" %}
{% load staticfiles i18n %}

{% block title %}{{ block.super }} | {% trans 'Dashboard' %}{% endblock %}

{% block content %}
    <h2>Dashboard</h2>
    <div class="row">
        <div class="col-md-6 col-sm-12 dash-tile-container">
            <div class="dash-tile">
                <h4>nächster Dienst:</h4>
                Freitag, 01.01.2018 - 19:30 Uhr<br />
                TH Theorie<br />
                <i>M. Oehme, L. Albrecht</i>
            </div>
        </div>
        <div class="col-md-6 col-sm-12 dash-tile-container">
            <div class="dash-tile">
                <h4>letzter Einsatz:</h4>
                31.12.2017 - 18:13 Uhr<br />
                Hochwasser in Dürrröhrsdorf<br />
                <a href="{% url 'mission_list' %}">Einsätze</a>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 col-sm-12 dash-tile-container">
            <div class="dash-tile">
                <h4>nächster Termin Atemschutzstrecke:</h4>
                01.01.2019 - 19:00 Uhr in Bischofswerda<br />
                Teilnehmer: M. Lemke, A. Klimczyk
            </div>
        </div>
        <div class="col-md-6 col-sm-12 dash-tile-container">
            <div class="dash-tile">
                <h4>aktuelle Hinweise:</h4>
                Am 02.02.2019 findet der Handdruckspritzenwettbewerb in FTL statt.
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 dash-tile-container">
            <div class="dash-tile">
                <h4>Wettervorhersage:</h4>
                ganz gut<br />
                <a href="{% url 'gallery' %}">Galerie</a>
            </div>
        </div>
    </div>
{% endblock %}
