{% extends "base/__base.html" %}
{% load staticfiles i18n %}

{% block title %}{{ block.super }} | {% trans 'Dashboard' %}{% endblock %}

{% block css-scripts %}
    <style type="text/css">
        #img-storm {
            height: 425px
        }
    </style>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-4 col-sm-12 dash-tile-container">
            <div class="dash-tile">
                <h4>
                    <img src="{% static 'base/img/presentation.png' %}" class="icon" />
                    {% trans 'Next Training' %}:
                </h4>
                {{ next_training.date|date:"D, d.m.Y - H:i" }}<br />
                {% trans 'Subject' %}: {{ next_training.subject }}<br />
                <i>{% trans 'Responsibles' %}: {{ next_training.responsibles }}</i>
            </div>
        </div>
        <div class="col-md-4 col-sm-12 dash-tile-container">
            <div class="dash-tile">
                <h4>
                    <img src="{% static 'base/img/fire-extinguisher.png' %}" class="icon" />
                    {% trans 'Next Breathing Protection Training' %}:
                </h4>
                {{ next_bpt.date|date:"D, d.m.Y - H:i" }} {% trans 'in' %} {{ next_bpt.location }}<br />
                <i>{% trans 'Participants' %}: {{ next_bpt.participants }}</i><br />
                <a href="{% url 'bptraining_list' %}">{% trans 'Breathing Protection Trainings' %}</a>
            </div>
        </div>
        <div class="col-md-4 col-sm-12 dash-tile-container">
            <div class="dash-tile">
                <h4>
                    <img src="{% static 'base/img/notepad.png' %}" class="icon" />
                    {% trans 'Current Hints' %}:
                </h4>
                Am 02.02.2019 findet der Handdruckspritzenwettbewerb in FTL statt.<br />
                <a href="{% url 'gallery' %}">{% trans 'Gallery' %}</a>
            </div>
        </div>
        <div class="col-md-4 col-sm-12 dash-tile-container">
            <div class="dash-tile">
                <h4>
                    <img src="{% static 'base/img/flash.png' %}" class="icon" />
                    {% trans 'Weather Warnings' %}:
                </h4>
                <img id="img-storm"
                     src="http://www.unwetterzentrale.de/images/map/sachsen_index.png"
                     alt="{% trans 'Storm Map' %}" />
            </div>
        </div>
        <div class="col-md-4 col-sm-12 dash-tile-container">
            <div class="dash-tile">
                <h4>
                    <img src="{% static 'base/img/presentation.png' %}" class="icon" />
                    {% trans 'Pegel Wesenitz Elbersdorf' %}:
                </h4>
                <img src="http://www.umwelt.sachsen.de/umwelt/infosysteme/hwims/portal/diagramme/diagrammimage_550810_WEB_W" alt="" />
            </div>
        </div>
        <div class="col-md-4 col-sm-12 dash-tile-container">
            <div class="dash-tile">
                <h4>
                    <img src="{% static 'base/img/presentation.png' %}" class="icon" />
                    {% trans 'Pegel Elbe Schoena' %}:
                </h4>
                <img src="http://www.umwelt.sachsen.de/umwelt/infosysteme/hwims/portal/diagramme/diagrammimage_501010_WEB_W" alt="" />
            </div>
        </div>
        <div class="col-md-6 col-sm-12 dash-tile-container">
            <div class="dash-tile">
                <h4>
                    <img src="{% static 'base/img/cloud-and-sun.png' %}" class="icon" />
                    {% trans 'Weather Forecast' %}:
                </h4>
                <div id="weatherWidget" data-serviceid="57656f3db66525.52521936" data-format="600x150" data-version="1.1" data-city="18232776" data-source="http://www.wetter24.de">
                    <div serviceid="weatherWidgetBlock"></div>
                    <script src="http://www.wetter24.de/fileadmin/scripts/widget.js"></script>
                </div>

            </div>
        </div>
    </div>
{% endblock %}

{% block js-scripts %}
    <script type="text/javascript">
        $(function() {
            // reload storm image after 30sec
            setInterval(function() {
                $("#img-storm").attr("src", "http://www.unwetterzentrale.de/images/map/sachsen_index.png?" + new Date().getTime());
            }, 30000);

            // reload dashboard every 10 min
            setInterval(function() {
                location.reload();
            }, 600000);
        });

    </script>
{% endblock %}
