{% extends "base/__base.html" %}
{% load staticfiles i18n leaflet_tags geojson_tags crispy_forms_tags %}

{% block title %}{{ block.super }} | {% trans 'Mission' %}{% endblock %}

{% block css-scripts %}
    <script type="text/javascript" src="{% static 'admin/js/jsi18n.js' %}"></script>
    <script type="text/javascript" src="{% static 'admin/js/jquery.js' %}"></script>
    <script type="text/javascript" src="{% static 'admin/js/jquery.init.js' %}"></script>
    <link href="{% static 'base/css/selector.css' %}" rel="stylesheet">
    {% leaflet_js %}
    {% leaflet_css %}

    <style>
        .leaflet-container {  /* all maps */
            width:  1200px;
            height: 600px;
        }

    </style>
{% endblock %}

{% block content %}
    {{ form.media }}
    {% crispy form %}

    <ul>
        <li>{{ address }}</li>
        <li>{{ lat|stringformat:"f" }}</li>
        <li>{{ long|stringformat:"f" }}</li>
        <li>{{ raw }}</li>
    </ul>
    {% leaflet_map "mapid" %}
{% endblock %}

{% block js-scripts %}
    <script src="{% static 'base/js/map.js' %}"></script>
    <script type="text/javascript">
        var msg = '<b>{{ object }}</b><br>{{ object.street }}<br />{{ object.location }}';
        initMap('mapid', '{{ lat|stringformat:"f" }}', '{{ long|stringformat:"f" }}', msg);
    </script>
{% endblock %}
