{% extends "base/__base.html" %}
{% load staticfiles i18n %}

{% block title %}{{ block.super }} | {% trans 'Training' %}{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-sm-12">
            <h2>{% trans 'Trainings' %}</h2>
        </div>
    </div>

    {% if perms.base.add_training %}
        <div class="row">
            <div class="col-sm-12">
                <a href="{% url 'training_new' %}">
                    <button type="button" class="btn btn-success btn-large">
                        <span class="glyphicon glyphicon-plus"></span>
                        {% trans 'Create training' %}
                    </button>
                </a>
            </div>
        </div>
    {% endif %}

    <div class="row">
        <div class="col-sm-12">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>{% trans 'Date' %}</th>
                        <th>{% trans 'Subject' %}</th>
                        <th>{% trans 'Responsibles' %}</th>
                        <th>{% trans 'Actions' %}</th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in object_list %}
                        <tr>
                            <td>
                                {% if perms.base.change_training %}
                                    <a href="{% url 'training_edit' item.id %}">{{ item.date|date:"d.m.Y" }}</a>
                                {% else %}
                                    {{ item.date|date:"d.m.Y" }}
                                {% endif %}
                            </td>
                            <td>{{ item.subject }}</td>
                            <td>{{ item.responsibles.all|join:', ' }}</td>
                            <td>
                                {% if perms.base.change_training %}
                                    <a href="{% url 'training_edit' item.id %}" title="{% trans 'Open' %}">
                                        <span class="glyphicon glyphicon-folder-open" aria-hidden="true"></span>
                                    </a>
                                {% endif %}

                                {% if perms.base.delete_training %}
                                    <a href="{% url 'training_delete' item.id %}" title="{% trans 'Delete' %}">
                                        <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                                    </a>
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
