{% extends "base/__base.html" %}
{% load staticfiles i18n crispy_forms_tags %}

{% block title %}{{ block.super }} | {% trans 'Change user password' %}{% endblock %}

{%  block css-scripts %}
    <script type="text/javascript" src="{% static 'admin/js/jsi18n.js' %}"></script>
    <script type="text/javascript" src="{% static 'admin/js/jquery.js' %}"></script>
    <script type="text/javascript" src="{% static 'admin/js/jquery.init.js' %}"></script>
    <link href="{% static 'base/css/selector.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-sm-12">
            <h2>{% trans 'Change user password' %}</h2>
        </div>
    </div>

    {{ form.errors }}
    <p>
        {% blocktrans with username=user.username %}
            Enter a new password for user <strong>{{ username }}</strong>.
        {% endblocktrans %}
    </p>
    {{ form.media }}
    {% crispy form %}
{% endblock %}
